# Dependencies
node_modules/
dist/
build/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/
*.swp
*.swo


# Project Data (Optional: ignore if large/sensitive)
# data/

# Secrets
functions/*secret*.txt
functions/falkor_secret.txt
functions/falkor_secret_external.txt
functions/postgres_secret_external.txt

# Logs
*.log
firepit-log.txt
data_load.log

# Firebase
.firebase/
